* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: inherit;
  text-decoration: none;
  list-style: none;
  font-family: "Open Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.main-nav {
  display: flex;
  height: 8vh;
  justify-content: space-between;
  align-items: center;
  color: #daf8e3;
  background: #005582;
}

.logo {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 1.25rem;
  padding: 0 2rem;
}

.nav-links {
  display: flex;
  width: 40%;
  justify-content: space-around;
}

.burger {
  display: none;
  padding: 0.5rem;
  cursor: pointer;
}

.line {
  height: 2px;
  width: 35px;
  margin: 0.5rem 0;
  background: #daf8e3;
  transition: transform 0.75s ease, opacity 0.75s ease;
}

@media screen and (max-width: 800px) {
  .nav-links {
    width: 60%;
  }
}


.main-nav.show .line1 {
  transform: translate(-10px) rotate(45deg) translate(15px);
}.main-nav.show .line2 {
  opacity: 0;
}.main-nav.show .line3 {
  transform: translate(-10px) rotate(-45deg) translate(15px);
}.main-nav.show .nav-links {
  transform: translateX(0%);
}@media screen and (max-width: 800px) {
  .nav-links {
    width: 60%;
  }
}@media screen and (max-width: 600px) {
  .burger {
    display: block;
  }
  .nav-links {
    position: fixed;
    top: 8vh;
    right: 0;
    height: 92vh;
    width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: #005582;
    transform: translateX(100%);
    transition: transform 1s ease;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
  }
}

.Mo {
	position: relative;
	margin: 40px 0;
	padding: 1.6em 2.4em .7em calc(1.4em + var(--quote-image-width));
	font: italic 1.2rem var(--type-quote);
	background: var(--quote-bg) no-repeat left / var(--quote-image-width);
	border-radius: var(--border-rad);
	border: 2px solid white;
	box-shadow: 2px 2px 4px hsl(0 0% 0% / 20%);
	text-indent: 1.6em;
}

@media (min-width: 768px) {
	.Mo {
		margin: 40px 60px;
	}
}

.Mo::before {
	content: "";
	pointer-events: none;
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	border-radius: var(--border-rad);
	box-shadow:
		inset -2px -2px 1px hsl(0 0% 100%),
		inset 2px 2px 4px hsl(0 0% 0% / 20%);
}

.Mo::after {
	content: "❝";
	position: absolute;
	z-index: 1;
	left: 50%;
	top: -2px;
	transform: translate(-50%, -50%);
	width: 1.3em;
	height: 1.3em;
	background: white;
	box-shadow: 0 4px 5px -1px hsla(0 0% 0% / 20%);
	border-radius: 999px;
	display: grid;
	place-content: center;
	padding-top: .5em;
	color: var(--accent-color);
	font-size: 36px;
	font-style: normal;
	text-indent: 0;
}

..Mo-author-image {
	position: absolute;
	left: 0;
	top: 0;
	width: var(--quote-image-width);
	height: 100%;
	opacity: 0.75;
	background: var(--accent-color) var(--image) no-repeat center / cover;
	background-blend-mode: hard-light;
	border-top-left-radius: var(--border-rad);
	border-bottom-left-radius: var(--border-rad);
}

cite {
	display: block;
	margin-top: 30px;
	text-indent: 0;
	text-align: center;
	font: bold .9rem var(--type-body);
	text-transform: uppercase;
	color: hsl(0 0% 20%);
}

@media (min-width: 768px) {
	cite {
		margin-left: calc(1rem - var(--quote-image-width));
	}
}

.cite-last-name {
	background: var(--accent-color);
	color: var(--quote-bg);
}

footer {
  font-size: 1.3em;
    margin-top: auto;
    text-align: center;
    background-color: rgb(221, 219, 219);
    color: black;
    padding: 15px;
    height: 50px;
    font-family: inherit;
}



div .courses-container{

/*justify-self: center;*/
  display: flex;
  flex-direction: row;

}

.courses-container {


	width: 350px;
	height: 550px;
  background-color: #2A265F;
  border-radius: 10px;
 color: white;
  margin: 20px;
  width: 20%;
  height: 35%;
	
}




.btn {
	background-color: #2A265F;
	border: 0;
	border-radius: 50px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	color: #fff;
	font-size: 12px;
	padding: 5px 5px;
	position: absolute;
	bottom: 30px;
	right: 30px;
	letter-spacing: 1px;
	width: 80px;
	height: 30px;
}


.div-autheur{

position: relative;
margin-left: 45%;
margin-right:45%;

}

.author {
  background-color: #068A3C;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  /*margin: 4px 2px;*/

  cursor: pointer;
  width: 150px;
  height: 40px;
  border-radius: 20px;

  
}

.update {
  background-color: #C1D10D;
  border: none;
  color: white;
  /*padding: 10px 10px;*/
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 100px;
  height: 40px;
  border-radius: 20px;
}

.delete {
  background-color: #DE2209;
  border: none;
  color: white;
  /*padding: 10px 10px;*/
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 100px;
  height: 40px;
  border-radius: 20px;
}


#log {

    background: #CDC0CF;
    border-radius: 25px;
}

.form {

    background: #CDC0CF;
    border-radius: 25px;
}



input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid black;
}

::placeholder {
  color: black;
}

@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

.area{
    background: #d1c5d2;
    border: solid 1 white;
    border-radius: 15px;
}